DXApplication1/POGClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="POGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="pogService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPOGService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Say_InputMessage">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Whisper_InputMessage">
    <wsdl:part name="parameters" element="tns:Whisper" />
  </wsdl:message>
  <wsdl:message name="IPOGService_IsWriting_InputMessage">
    <wsdl:part name="parameters" element="tns:IsWriting" />
  </wsdl:message>
  <wsdl:message name="IPOGService_SendFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFile" />
  </wsdl:message>
  <wsdl:message name="IPOGService_SendFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IPOGService_RefreshClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshClients" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IPOGService_ReceiveWhisper_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisper" />
  </wsdl:message>
  <wsdl:message name="IPOGService_IsWritingCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsWritingCallback" />
  </wsdl:message>
  <wsdl:message name="IPOGService_ReceiverFile_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiverFile" />
  </wsdl:message>
  <wsdl:message name="IPOGService_UserJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserJoin" />
  </wsdl:message>
  <wsdl:message name="IPOGService_UserLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserLeave" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPOGService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Connect" message="tns:IPOGService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/ConnectResponse" message="tns:IPOGService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/GetClients" message="tns:IPOGService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/GetClientsResponse" message="tns:IPOGService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/GetMessages" message="tns:IPOGService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/GetMessagesResponse" message="tns:IPOGService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Say">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Say" message="tns:IPOGService_Say_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Whisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Whisper" message="tns:IPOGService_Whisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsWriting">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/IsWriting" message="tns:IPOGService_IsWriting_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/SendFile" message="tns:IPOGService_SendFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/SendFileResponse" message="tns:IPOGService_SendFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Disconnect" message="tns:IPOGService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/RefreshClients" message="tns:IPOGService_RefreshClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/Receive" message="tns:IPOGService_Receive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveWhisper">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/ReceiveWhisper" message="tns:IPOGService_ReceiveWhisper_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsWritingCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/IsWritingCallback" message="tns:IPOGService_IsWritingCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiverFile">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/ReceiverFile" message="tns:IPOGService_ReceiverFile_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/UserJoin" message="tns:IPOGService_UserJoin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/UserLeave" message="tns:IPOGService_UserLeave_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pogService" type="tns:IPOGService">
    <wsp:PolicyReference URI="#pogService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Whisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsWriting">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/IsWriting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/SendFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/RefreshClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/ReceiveWhisper" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsWritingCallback">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/IsWritingCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiverFile">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/ReceiverFile" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserJoin">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/UserJoin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/UserLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POGService">
    <wsdl:port name="pogService" binding="tns:pogService">
      <soap12:address location="net.tcp://localhost:9001/POGHost/POGService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/POGHost/POGService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>