DXApplication1/POGClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="POGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="pogService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPOGService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_UnRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegister" />
  </wsdl:message>
  <wsdl:message name="IPOGService_UnRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetWouter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWouter" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetWouter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWouterResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetCharlotte_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharlotte" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetCharlotte_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharlotteResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IPOGService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Say_InputMessage">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Say_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayResponse" />
  </wsdl:message>
  <wsdl:message name="IPOGService_RefreshClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshClients" />
  </wsdl:message>
  <wsdl:message name="IPOGService_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:portType name="IPOGService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Register" message="tns:IPOGService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/RegisterResponse" message="tns:IPOGService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/UnRegister" message="tns:IPOGService_UnRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/UnRegisterResponse" message="tns:IPOGService_UnRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Connect" message="tns:IPOGService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/ConnectResponse" message="tns:IPOGService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Disconnect" message="tns:IPOGService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/DisconnectResponse" message="tns:IPOGService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWouter">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/GetWouter" message="tns:IPOGService_GetWouter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/GetWouterResponse" message="tns:IPOGService_GetWouter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharlotte">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/GetCharlotte" message="tns:IPOGService_GetCharlotte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/GetCharlotteResponse" message="tns:IPOGService_GetCharlotte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/GetMessages" message="tns:IPOGService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/GetMessagesResponse" message="tns:IPOGService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Say">
      <wsdl:input wsaw:Action="http://tempuri.org/IPOGService/Say" message="tns:IPOGService_Say_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/SayResponse" message="tns:IPOGService_Say_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/RefreshClients" message="tns:IPOGService_RefreshClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IPOGService/Receive" message="tns:IPOGService_Receive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pogService" type="tns:IPOGService">
    <wsp:PolicyReference URI="#pogService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/UnRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWouter">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/GetWouter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharlotte">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/GetCharlotte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/RefreshClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IPOGService/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POGService">
    <wsdl:port name="pogService" binding="tns:pogService">
      <soap12:address location="net.tcp://localhost:9001/POGHost/POGService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/POGHost/POGService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>